{
    "swagger": "2.0",
    "info": {
        "title": "API Mycine.com ",
        "description": "This API get all of the informations that you need of a cinematographic database",
        "termsOfService": "http://helloreverb.com/terms/",
        "contact": {
            "email": "apiteam@wordnik.com"
        },
        "license": {
            "name": "Apache 2.0",
            "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
        },
        "version": "1.0.0"
    },
    "host": "mycine.com",
    "basePath": "/",
    "schemes": [
        "http"
    ],
    "paths": {
        "/personne": {
            "get": {
                "tags": [
                    "personne"
                ],
                "summary": "Display a listing of all personnes.",
                "produces": [
                    "application/xml",
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Perrsonne"
                            }
                        }
                    }
                }
            }
        },
        "/reduction": {
            "get": {
                "tags": [
                    "reduction"
                ],
                "summary": "Display all of the discounts.",
                "produces": [
                    "application/xml",
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Reduction"
                            }
                        }
                    },
                    "default": {
                        "description": "An error has been occured"
                    }
                }
            },
            "post": {
                "tags": [
                    "reduction"
                ],
                "summary": "Add a discount.",
                "produces": [
                    "application/xml",
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "nom",
                        "in": "formData",
                        "description": "Name of the discount",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "date_debut",
                        "in": "formData",
                        "description": "Begin of the discount",
                        "required": false,
                        "type": "string",
                        "format": "date"
                    },
                    {
                        "name": "date_fin",
                        "in": "formData",
                        "description": "End of the discount",
                        "required": false,
                        "type": "string",
                        "format": "date"
                    },
                    {
                        "name": "pourcentage_reduction",
                        "in": "formData",
                        "description": "Percentage of the discount",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Reduction"
                            }
                        }
                    },
                    "404": {
                        "description": "Woops! The informations can't be validated!",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Reduction"
                            }
                        }
                    },
                    "default": {
                        "description": "An error has been occured"
                    }
                }
            }
        },
        "/reduction/{id_reduction}": {
            "get": {
                "tags": [
                    "reduction"
                ],
                "summary": "Display a discount.",
                "produces": [
                    "application/xml",
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "id_reduction",
                        "in": "path",
                        "description": "Id of the discount",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Reduction"
                            }
                        }
                    },
                    "404": {
                        "description": "Woops! The discount that you looking for doesn't exist!",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Reduction"
                            }
                        }
                    },
                    "default": {
                        "description": "An error has been occured"
                    }
                }
            },
            "put": {
                "tags": [
                    "reduction"
                ],
                "summary": "Modify a discount.",
                "produces": [
                    "application/xml",
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "id_reduction",
                        "in": "path",
                        "description": "Id of the discount",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "nom",
                        "in": "formData",
                        "description": "Name of the discount",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "date_debut",
                        "in": "formData",
                        "description": "Begin of the discount",
                        "required": true,
                        "type": "string",
                        "format": "date"
                    },
                    {
                        "name": "date_fin",
                        "in": "formData",
                        "description": "End of the discount",
                        "required": true,
                        "type": "string",
                        "format": "date"
                    },
                    {
                        "name": "pourcentage_reduction",
                        "in": "formData",
                        "description": "Percentage of the discount",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Reduction"
                            }
                        }
                    },
                    "404": {
                        "description": "Woops! The discount that you looking for doesn't exist!",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Reduction"
                            }
                        }
                    },
                    "422": {
                        "description": "Woops! The informations can't be validated!",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Reduction"
                            }
                        }
                    },
                    "default": {
                        "description": "An error has been occured"
                    }
                }
            },
            "delete": {
                "tags": [
                    "reduction"
                ],
                "summary": "Delete a discount.",
                "produces": [
                    "application/xml",
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "id_reduction",
                        "in": "path",
                        "description": "Id of the discount",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Reduction"
                            }
                        }
                    },
                    "404": {
                        "description": "Woops! The discount that you want to delete doesn't exist!",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Reduction"
                            }
                        }
                    },
                    "default": {
                        "description": "An error has been occured"
                    }
                }
            }
        }
    },
    "definitions": {
        "Reduction": {
            "required": [
                "id_reduction"
            ],
            "properties": {
                "id_reduction": {
                    "type": "number",
                    "format": "int64",
                    "default": 1
                },
                "nom": {
                    "type": "string",
                    "format": "string",
                    "default": "r\u00e9duction"
                },
                "date_debut": {
                    "type": "date",
                    "format": "date",
                    "default": "2000-01-01"
                },
                "date_fin": {
                    "type": "date",
                    "format": "date",
                    "default": "2000-01-02"
                },
                "pourcentage_reduction": {
                    "type": "number",
                    "format": "int64",
                    "default": 0
                }
            },
            "xml": {
                "name": "Film"
            }
        }
    },
    "externalDocs": {
        "description": "Find out more about Swagger",
        "url": "http://swagger.io"
    }
}